.panda-bg-info{
    background-color: #FEEAE9;
}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    background-image:linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.categories-clock-bg-color{
    background-image: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.categories-bag-bg-color{
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.categories-shoe-bg-color{
    background-image: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);;
}